.contentWrapper {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 453px;
  column-gap: 120px;
  position: relative;
}

.signedUser::before {
  content: "";
  background: url("https://picsum.photos/id/301/440/1000") no-repeat;
  width: 453px;
  height: 100vh;
  background-size: cover;
  position: absolute;
  right: 0px;
}
